ipch
.vs
*.db
*.opendb
*.aps
*.user
/OpenVR-SpaceCalibrator/x64/
/OpenVR-SpaceCalibratorDriver/x64/
/x64/
/lib/boost*
/install/OpenVR-SpaceCalibrator.exe
lib/Release/
spacecalibrator/build/
OpenVR-SpaceCalibrator/OpenVR-S.*/
*.obj
*.pch
*.iobj
*.ipdb
